
{% extends 'rbase.htm' %}
{% block content %}
<br><br><br>
<div class="saladlist" style="width:950px;">
    <div class="heading">
        CHIENESE
    </div>
    <div class="list" style="font-size:18px;">

        <h5>Bhel & Chopsuey</h5><br>
            Veg Chienese Bhel.....80<br>
            Veg American Chopsuey.....100<br>
            Veg Chienese Chopsuey.....100<br>
            Veg  Chowmen.....100<br>
            Veg  Chow Chow.....100<br>

        <h5>Veg Fried Rice</h5><br>
            Veg Fried Rice.....90<br>
            Veg Shezwan Rice.....100<br>
            Veg Singapore Rice.......100<br>
            Veg Soyabean Rice........110<br>

            <h5>Veg Triple Rice</h5><br>
                Veg Triple Rice.....120<br>
                Veg Manchurian Rice.......120<br>
                Veg Manchurian  Shez.Rice.......130<br>
                Veg Chilly Rice..............130<br>
                Veg Hong Kong Rice.......120<br>
                
    </div>
    <div class="list" style= "font-size:18px;margin-left:25px;">
        <h5>Veg Hakka Noodles</h5><br>
            Veg Hakka Noodles.....100<br>
            Veg Hong Kong Noodles.......100<br>
            Veg Singapore Noodles.......110<br>
            Veg Shezwan Noodles.......120<br>
            Veg Garlic Noodles.......120<br>
            
        <h5>Veg Gravy Items</h5><br>
            Veg Manchurian.........100<br>
            Veg Chilly.........90<br>
            Veg Garlic.........90<br>
            Veg Capsicum.........100<br>
            Veg Chowmean.........100<br>
            Veg Mongolian.........100<br>
                           
    </div>
    <div class="photo"  style="margin-top:60px ;height:160px;width:30%; margin-left: 90px;" >
        <img style="height:160px;" src="/static/r_img/noodle.jfif"  >
    </div>
                       
    <div class="photo"  style="margin-top:20px;float:right;">
        <img src="/static/r_img/rice.jfif"  >
    </div>
                          
    </div>

</div>

{% endblock %}