{% extends 'rbase.htm' %}
{% block content %}
<br><br><br><br>
<div class="aboutus">
    <div class="title">
        CONTACT US
    </div>
    <div class="content">
        <table>
            <tr><td style="color:white; padding-bottom: 12px;"><p><b><u>Address :</u></b></p></td></tr>
            <tr><td><p>Kotda Sangani road,</p></td></tr>
            <tr><td><p>Gondal.</p></td></tr>
            <tr><td style="padding-top:15px;"><p><b>Contact no.:7434125151</b></p></td></tr>
            <tr><td style="padding-top:8px;"><p><b>E-mail:perfect123@gmail.com</b></p></td></tr>
        
        </table>

    </div>
</div>
{% endblock %}