{% extends 'rbase.htm' %}
{% block content %}
<br><br><br>
<div class="saladlist" style="width:950px;">
    <div class="heading">
        GUJARATI
    </div>
    <div class="list" style="font-size:18px;">

        <h5>Kathiyavadi Sabji</h5><br>
            Suki Bhaji.....40<br>
            Lasaniya Bataka.....50<br>
            Dahi TIkhari.......70<br>
            Dahi Bhindi.......75<br>
            Ringan nu bhartu.....80<br>
            Bhrela Ringan.....80<br>
            Bhrela Karela....80<br>
            Mix Veg..........80<br>
            Rajavadi Dhokdi....100<br>
            Sev Tameta........100<br>
            Kaju Gathiya.......100<br>
            Undhiyu..........110<br>
        <h5>Kathol</h5><br>
            Choli Masala.....60<br>
            Mag nu sak.....60<br>
            Chana Bataka.......65<br>
            Mix Kathol.......90<br>
        <h5>Dal/Kadhi</h5><br>
            Tur dal.....50<br>
            Urad dal.......65<br>
            Panchratn Dal.......80<br>
            Kadhi.............35<br>
        </div>
        <div class="list" style= "font-size:18px;margin-left:25px;">
            <h5>Sambharo</h5><br>
                Kobi no Sambharo.....15<br>
                Bhrela Marcha.....30<br>
                Tindora no Sambharo.......15<br>
                Lotiya Marcha.......20<br>
            <h5>Tave ka Kamal</h5><br>
                Plain Roti.....10<br>
                Bajarano Rotlo.....15<br>
                Lasaniyo Rotalo.......15<br>
                Theplu.......15<br>
                Bhakhri.......18<br>
                Aloo Paratha...30<br>
                Chhese Paratha....50<br>
            <h5>Rice</h5><br>
                Plain Rice.....25<br>
                Jeera Rice.....30<br>
                Veg. Biriyani.......35<br>
                Vagharela Bhat.......20<br>
            <h5>Farsan</h5><br>
                Bataka Vada.....20<br>
                Dhokda.....30<br>
                Mix Chat.......35<br>
        </div>
        <div class="list" style= "font-size:18px;margin-left:25px;">
            <h5>Sweet</h5><br>
                Fruit Custard.....60<br>
                MohanThal.....50<br>
                Gulab Jamun.......60<br>
        </div>
        <div class="photo"  style="margin-top:2px ;height:160px;width:30%; margin-left: 90px;" >
            <img style="height:160px;" src="/static/'r_img/guj.jfif"  >
        </div>
                       
        <div class="photo"  style="margin-top:20px;">
            <img src="/static/r_img/guj2.jpg"  >
        </div>
    </div>
</div>

{% endblock  %}   
