
{% extends 'rbase.htm' %}
{% block content %}
<br><br><br>
<div class="menulist" >
     <div class="box" >
          <img src="/static/r_img/stater.jpg"><br>
          <div class="foodnm"><a href="/stater"><h1>Stater</h1></a></div>
     </div>
            
     <div class="box">
          <img src="/static/r_img/soup.jpg"><br>
          <div class="foodnm"><a href="/soup"><h1>Soup</h1></a></div>               
     </div><br>
     <div class="box">
          <img src="/static/r_img/salad.jpg"><br>
          <div class="foodnm"><a href="/salad"><h1>Salad & Papad</h1></a></div>
     </div>
     <div class="box">
          <img src="/static/r_img/food1.jfif"><br>
          <div class="foodnm"><a href="/gujrati"><h1>Gujrati</h1></a></div>    
                    
     </div><br>
     <div class="box">
          <img src="/static/r_img/p1.jfif"><br>
          <div class="foodnm"><a href="/punjabi"><h1>Punjabi</h1></a></div>
                
     </div>
     <div class="box">
          <img src="/static/r_img/dosa.jpg"><br>
          <div class="foodnm"><a href="/south"><h1>South Indian</h1></a></div>
                    
     </div><br>
     <div class="box">
          <img src="/static/r_img/chienese.jfif"><br>
          <div class="foodnm"><a href="/chienese"><h1>Chienese</h1></a></div>           
     </div>
          <div class="box">
               <img src="/static/r_img/drink.jpg"><br>
               <div class="foodnm"><a href="/softdrink"><h1>Soft Drinks</h1></a></div>
          </div>
     </div>
</div>

{% endblock %}
