
{% extends 'rbase.htm' %}
   {% block content %}
    <br><br><br><br>
    <div class="aboutus">
        <div class="title">
            About US
        </div>
        <div class="content">
               <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Vegan Restaurant with a menu that will make your mouth <br><br>&nbsp;&nbsp;
                water.Servicing delicious food since 25 years.Enjoy our menu <br><br>&nbsp;&nbsp; and experience
            the beauty of naturalness. </p>
        </div>
    </div>
     
{% endblock %}