
{% extends 'rbase.htm' %}
{% block content %}
<br><br><br><br>
<table border="3"  cellspacing="5" style="background-color:#9999CC; margin:4px;">
  <tr>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/r2.jpg"   height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/g3.jpg"   height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/g1.jpg"   height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/r1.jpg"   height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/g5.jpg"   height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/g4.jpg"   height="200" width="200"></td>
  </tr>
  <tr>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/rice.jfif"   height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/msoup.jfif"  height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/noodle.jfif" height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/g6.jpg"      height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/p2.jfif"     height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/soup.jpg"    height="200" width="200"></td>
               
  </tr>
  <tr>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/paneerchilly.jfif" height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/p1.jfif"           height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/salad.jpg"         height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/stater.jpg"        height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/g7.jfif"           height="200" width="200"></td>
    <td style="outline:groove;outline-color:#777777;outline-width:thick;"> <img src="/static/r_img/guj2.jpg"          height="200" width="200"></td>
                
  </tr>
  </table> 
{% endblock %}
