{% extends 'rbase.htm' %}
{% block content %}
<br><br><br>
<div class="saladlist">
    <div class="heading">
        SALAD & PAPAD
    </div>
    <div class="list">
        Roasted papad...............................15<br>
        Fry papad.......................................25<br>
        Masala Papad.................................40<br>
        Bundi masala papad.......................40<br>
        Green salad.....................................55<br>
        Onion salad.....................................30<br>
        Tomato salad...................................40<br>
        Cucumber salad...............................40<br>
        Boondi Raita.....................................60<br>
        Pudina Raita.....................................70<br>
        Buttermilk.........................................30<br>
        Masala Buttermilk.............................40<br>
        Sweet Lassi.....................................50<br>
    </div>
    <div class="photo"  style="margin-top:2.5px;" >
        <img src="/static/r_img/salad.jpg" >
    </div>
    <div class="photo"  style="margin-top:2px;">
        <img src="/static/r_img/masalapapad.jfif"  >
    </div>
    <div class="photo"  style="margin-top:2px ;height:160px;width:30%; margin-left: 90px;" >
        <img style="height:160px;" src="/static/r_img/boondiraita.jpg"  >
    </div>
    </div>

</div>
{% endblock %}    
