{% extends 'rbase.htm' %}
{% block content %}
<br><br><br>
<div class="saladlist">
    <div class="heading">
        COLD DRINKS
    </div>
    <div class="list">
        Coca-Cola...........................20<br>
        Pepsi...................................20<br>
        Thums Up...........................20<br>
        Fanta...................................20<br>
        Davat Jeera ........................20<br>
        Sprite...................................20<br>
        Mirinda................................20<br>
    </div>
    <div class="photo"  style="margin-top:2px ;height:160px;width:30%; margin-left: 90px;" >
        <img style="height:160px;" src="/static/r_img/softdrink.jfif"  >
    </div>
    <div class="photo"  style="margin-top:2.5px;" >
        <img src="/static/r_img/d1.jfif" >
    </div>
    <div class="photo"  style="margin-top:2px;">
        <img src="/static/r_img/d2.jfif"  >
    </div>
</div>


    

{% endblock %}