{% extends 'rbase.htm' %}
{% block content %}
<br><br><br>
<div class="saladlist">
    <div class="heading">
        SOUP
    </div>
    <div class="list">
        Veg clear soup...........................70<br>
        Spinar soup...............................75<br>
        Tomato soup..............................80<br>
        Veg soup...................................80<br>
        Manchow soup..........................80<br>
        Manchurian soup.......................80<br>
        Hot & Sour soup.........................80<br>
        Minnistron soup..........................80<br>
                       
    </div>
    <div class="photo"  style="margin-top:2px ;height:160px;width:30%; margin-left: 90px;" >
            <img style="height:160px;" src="/static/r_img/msoup.jfif"  >
    </div>
    <div class="photo"  style="margin-top:2.5px;" >
        <img src="/static/r_img/soup.jpg" >
    </div>
    <div class="photo"  style="margin-top:2px;">
        <img src="/static/r_img/veg.jfif"  >
    </div>
</div>
{% endblock  %}
    
