
{% extends 'rbase.htm' %}
{% block content %}
<br><br><br>
<div class="saladlist" style="width:950px;">
    <div class="heading">
        SOUTH INDIAN
    </div>  
    <div class="list" style="margin-top:3px;">
    <img src="/static/r_img/dosa1.png" style="width:600px;">
    </div>  
    <div class="photo"  style="margin-top:2.5px;float:right; width:30%;" >
            <img src="/static/r_img/dosa.jpg" >
    </div>
    <div class="photo"  style="margin-top:2.5px;float:right; width:30%;" >
            <img src="/static/r_img/Uttapam.jpg" >
    </div>
    <div class="photo"  style="margin-top:2.5px;float:right; width:30%;height:150px;" >
            <img style="height:150px;" src="/static/r_img/menduvada.jfif" >
    </div>
</div>
            
{% endblock  %}   
