{% extends 'rbase.htm' %}
{% block content %}
<br><br><br><br>
<div class="saladlist">
    <div class="heading">
        STATER
    </div>
    <div class="list">
        French Fries..................................100<br>
        Veg. Pakoda..................................120<br>
        Paneer Pakoda..............................130<br>
        Paneer Chilly Dry..........................130<br>
        Paneer 65.....................................130<br>
        Cheese Balls.................................170<br>
        Veg. Manchurian Dry.....................170<br></div>
    <div class="photo"  >
        <img src="/static/r_img/frenchfries.jpg" >
    </div>
    <div class="photo">
        <img src="/static/r_img/paneerchilly.jfif"  >
    </div>
    <div class="photo" >
        <img src="/static/r_img/manchurian.jpg"  >
    </div>
                
</div>
{% endblock %}
             